*, body{
    margin: 0;
    padding: 0;
}


/*//////// MULTI LANGUAGES ////////*/

.multi-language{
    height: 10vh;
}

/*//////// CAROUSEL ////////*/

.d-block{
    height: 50vh;
}

.carousel-inner{
    margin: auto;
    width: 80%;
}

/*//////// NAVBAR ////////*/

.navbar{
    margin: auto;
    width: 80%;
}

/*//////// LAST POST TITLE / ICON ////////*/

.title-padding{
    padding: 4rem 0 0 0  ;
}

h2, h3, h4{
    overflow: hidden;
}

.arrow-last_post{
    font-size: 2.5em;
}

/*//////// LAST POST HOME ////////*/

.post-section_home img{
    width: 60%;
}

/*//////// PREVIOUS / NEXT BTN HOME ////////*/

.link-btn_home{
    padding: 10rem 0;;
}

/*//////// FOOTER ////////*/

.footer-img img{
    width: 20%;
    margin: 0;
    padding: 0 0 2.5em 0;
}

/*//////// FOOTER ////////*/

h3{
    padding: 2rem 0;
    font-size: 1.2em;
}

h4{
    font-size: 1em;
    padding: 1em;
}

/*//////// NAVBAR SORT BY / BLOG ////////*/

.nav-sort-by{
    margin:0;
    padding: 5rem;
}

.search-input{
    width: 50%;
    border: 1px solid lightgrey;
}

.dropdown-btn-large{
    width: 70%;
    border: 1px solid lightgrey;
}

.dropdown-btn-small{
    width: 50%;
    border: 1px solid lightgrey;
}

/*//////// DELETE MARGIN ROW ////////*/

.row{
    margin: 0;
}

/*//////// CARD TEXT / TUTORIALS ////////*/

.card{
    max-width: 25%;
}

.card-img-top{
    width: 100%;
}

.card-padding{
    padding: 4rem;
}

.card-text{
    max-width: 60%;
    height: 30vh;
    text-align: center;
    border: 1px solid lightgrey;
}

/*//////// FORM / CONTACT ////////*/

.contact-form{
    width: 50%;
}

.formulaire{
    width: 50%;
}

/*//////// A RETROUVER ////////*/

.panel-nav{
    border: 1px solid lightgrey;
}

.active-onglet{
    background-color: lightgray;
}

/*//////// ADMIN PANEL / NEW POST ////////*/

.new-post_textarea{
    height: 30vh;
    width: 50%;
}

/*//////// ADMIN PANEL / CUSTOMIZE ////////*/

.image-banner, img{
    width: 50%;
}

/*//////// ADMIN PANEL / INFORMATIONS ////////*/

.faq-textarea{
    width: 50%;
    height: 10vh;
}